* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}

body {
  background-color: black;
  color: white;
  width: 90%;
  margin: 0 auto;
  font-family: "Questrial", sans-serif;
}
.brand img{
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
*{
  margin: 0;
  padding: 0;
}

nav{
  font-family: 'Ubuntu', sans-serif;
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li{
  padding: 0 12px;
}

.container{
  min-height: 72vh;
  background-color: black;
  color: white;
 font-family: 'Varela Round', sans-serif;
 display: flex;
 margin: 23px auto;
 width: 70%;
 border-radius: 12px;
 padding: 34px;
 background-image: url('bg.jpg');
}
#related-artists-container {
  border: 2px solid white;
  padding: 20px;
}

#artist-top-ten-container {
  border: 2px solid white;
  padding: 20px;
}

#artist-block-container {
  border: 2px solid white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#related-artists-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(5, 19%);
  padding: 10px;
  margin: 10px;
}
#artist-top-ten-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 19%);
  grid-template-rows: repeat(2, 48%);
  padding: 10px;
  margin: 10px;
}

.header {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.artist-top-ten-list-item {
  text-align: center;
  width: auto;
  height: 150px;
  align-self: end;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #a5a5a5;
  box-shadow: 5px 5px #535353;
}

.artist-block {
  display: grid;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.artist-top-ten {
  border: 2px solid white;
}

.related-artists-list-item {
  text-align: center;
  width: auto;
  height: 250px;
  align-self: end;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #a5a5a5;
  box-shadow: 5px 5px #535353;
}

button {
  font-size: 0.85rem;
  background-color: #8eca00;
  border-radius: 5px;
}
button:hover {
  font-size: 0.85rem;
  background-color: white;
  border-radius: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

p {
  font-size: 0.75rem;
}

iframe {
  float: center;
  display: block;
  width: 300px;
  margin: auto;
  border: 0;
}
